---
const { frontmatter } = Astro.props;
import Layout from "./Layout.astro";
import '../styles/global.css';
---

<link
    rel="stylesheet"
    href="https://cdn.jsdelivr.net/npm/katex@0.15.2/dist/katex.min.css"
    integrity="sha384-MlJdn/WNKDGXveldHDdyRP1R4CTHr3FeuDNfhsLPYrq2t0UBkUdK2jyTnXPEK1NQ"
    crossorigin="anonymous"
/>

<Layout title={frontmatter.title}>
<main>
<h1>{frontmatter.title} - {frontmatter.rating}</h1>
<h2>{frontmatter.address}</h2>
<img src={frontmatter.image.url} width="700" alt={frontmatter.image.alt} style="display:inline; float:left; margin-left:25rem;"/>
<div style="background-color:rgba(255, 255, 255, 0.4); border-style: solid; padding: 1rem; margin-right: 20rem; width: 17em; display:inline; float:right;">

    <p style="display:inline; width: 15rem; float:left; text-align:left;">
    Prices: <span style="float:right;"> {frontmatter.rating.prices} </span><br/>
    Speed: <span style="float:right;"> {frontmatter.rating.speed} </span><br/>
    Service: <span style="float:right;"> {frontmatter.rating.service} </span><br/>
    Quality: <span style="float:right;"> {frontmatter.rating.quality} </span><br/>
    Vibes: <span style="float:right;"> {frontmatter.rating.vibes} </span><br/>
    Date Potential: <span style="float:right;"> {frontmatter.rating.date} </span>
    </p>
    
</div>
<div class="clear"></div>
<p>{frontmatter.pubDate.toString().slice(0,10)}</p>
<p><em>{frontmatter.description}</em></p>
<p>Written by: {frontmatter.author}</p>
<slot />
</main>
</Layout>

<style>
    main {
        padding-left: 4rem;
        margin-right: 4rem;
    }
    .aside {
        text-align: right;
        border-left: 5px solid cyan;
        margin-left: 1rem;
        background-color: #00ffff50;
    }
    .clear {
      clear: both;
      height: 25rem;
      display: block;
    }
    blockquote {
        background-color: cadetblue;
        text-align: left;
    }
</style>